body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.fl-main-content {
	border-right: dotted 1px;
	border-left: dotted 1px;
}

.navbar-flatz {
  margin-left: 60px;
}


// ================================= allDogs.* ====================================
.fl-table-tiny {
	font-size: 12px;
}

.fl-dog-brown {
	background: brown;
}

i.gl-male {
	background: url('/img/glyphicons/png/glyphicons_246_male.png') no-repeat;
}

i.gl-female {
	background: url('/img/glyphicons/png/glyphicons_247_female.png') no-repeat;	
}

i.gl-dog {
	background: url('/img/glyphicons/png/glyphicons_002_dog.png') no-repeat;
}

.fl-dog-black {
	background: white;
}

.fl-dog-name &:hover {
	background: #eee;
	cursor: pointer; 
}

.fl-dog-color-td {
	text-align: justify;
	font-weight: bold;
	color: #eee;
	
	
}

.fl-dog-color-td img {

}

.fl-paginator-letter &:hover
 {
 	background: blue;
	cursor: pointer; 
}

.fl-paginator {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;

}

// ================================= Dog.* ====================================

