body {
    padding-top: 60px;
    padding-bottom: 40px;
}

.fl-main-content {
	border-right: dotted 1px;
	border-left: dotted 1px;
}

.navbar-flatz {
  margin-left: 60px;
}


// ================================= allDogs.* ====================================
.fl-table-tiny {
	font-size: 12px;
}

.fl-dog-brown {
	background: brown;
}

.fl-dog-black {
	background: black;
}

.fl-dog-name &:hover {
	background: #eee;
	cursor: pointer; 
}

.fl-dog-color-td {
	text-align: justify;
	font-weight: bold;
	color: #eee;
}

.fl-paginator-letter &:hover
 {
 	background: blue;
	cursor: pointer; 
}

.fl-paginator {
	margin-bottom: 20px;
	margin-left: auto;
	margin-right: auto;
	
}

// ================================= Dog.* ====================================

